@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome!</h1>
    <div> @ViewBag.Greeting!! </div>
        
    <a asp-controller="Nodes"> view.Nodes </a> <br>
    <a asp-controller="Vetvs"> view.Vetvs </a> <br>
    <a href="~/swagger/index.html"> WEB API SWWAGGER </a><br>
    <a href="~/api/Node"> api.Node </a><br>
    <a href="~/api/Vetv"> api.Vetv </a><br>
    <a href="~/api/Generator"> api.Generator </a><br>
   
</div>
